[submodule "agg-kicad"]
	path = agg-kicad
	url = https://github.com/adamgreig/agg-kicad
[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "gen-board.h"]
	path = gen-board.h
	url = https://github.com/cuspaceflight/gen-board.h.git
